{% extends 'base.html' %}

{% block title %}BridgeA - Login Kepala Sekolah{% endblock %}

{% block content %}
<div class="kartu-masuk">
    <a href="{{ url_for('halaman_utama') }}" class="tombol-kembali">
        <i class="ph ph-arrow-left"></i> Kembali
    </a>
    
    <div class="lencana-peran lencana-biru">Kepala Sekolah</div>
    
    <h2 class="judul-login">Log In</h2>
    
    <form class="form-login" action="#" method="POST" autocomplete="off">
        <div class="grup-input">
            <div class="ikon-input">
                <i class="ph ph-user"></i>
            </div>
            <input type="text" name="nip" placeholder="Masukan NIP..." autocomplete="off" required>
        </div>
        
        <div class="grup-input">
            <div class="ikon-input" style="cursor: pointer;" onclick="togglePassword(this)">
                <i class="ph ph-eye-slash"></i>
            </div>
            <input type="password" name="password" placeholder="Masukan Kata Sandi..." autocomplete="new-password" required>
        </div>
        
        {% if error %}
        <div class="kotak-error">
            Kata Sandi Tidak Sesuai.<br>
            <a href="{{ url_for('lupa_kata_sandi') }}" class="tautan-lupa-sandi">Lupa Kata Sandi?</a>
        </div>
        {% endif %}
        
        <button type="submit" class="tombol-utama">Masuk</button>
    </form>
</div>
{% endblock %}

